server {
    listen       80;
    server_name  cdt.zaozuo.com;

    location /api {

        rewrite ^/api/(.*)$ /$1 breakc;
        proxy_pass          http://dockerhost:8090;
        proxy_redirect      off;
        proxy_set_header    Host                $host;
        proxy_set_header    X-Real-IP           $remote_addr;
        proxy_set_header    X-Forwarded-For     $proxy_add_x_forwarded_for;
        proxy_set_header    X-Request-Id        $pid-$msec-$remote_addr-$request_length;
        proxy_set_header    X-Forwarded-Proto   $scheme;
        proxy_set_header    '_protocol'         'https';
    }

    location / {
        proxy_pass          http://dockerhost:5000;
        proxy_redirect      off;
        proxy_set_header    Host                $host;
        proxy_set_header    X-Real-IP           $remote_addr;
        proxy_set_header    X-Forwarded-For     $proxy_add_x_forwarded_for;
        proxy_set_header    X-Request-Id        $pid-$msec-$remote_addr-$request_length;
        proxy_set_header    X-Forwarded-Proto   $scheme;
        proxy_set_header    '_protocol'         'https';
    }

}


server {
    listen       443;
    server_name  cdt.zaozuo.com;

    ssl on;
    ssl_certificate /data/nginx/conf/cert/zaozuo.cer;
    ssl_certificate_key /data/nginx/conf/cert/zaozuo.key;
    ssl_session_timeout 5m;
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2; #按照这个协议配置
    ssl_ciphers ECDHE-RSA-AES128-GCM-SHA256:HIGH:!aNULL:!MD5:!RC4:!DHE; #按照这个套件配置
    ssl_prefer_server_ciphers on;

    location /api {

        rewrite ^/api/(.*)$ /$1 break;
        proxy_pass          http://hostip:8090;
        proxy_redirect      off;
        proxy_set_header    Host                $host;
        proxy_set_header    X-Real-IP           $remote_addr;
        proxy_set_header    X-Forwarded-For     $proxy_add_x_forwarded_for;
        proxy_set_header    X-Request-Id        $pid-$msec-$remote_addr-$request_length;
        proxy_set_header    X-Forwarded-Proto   $scheme;
        proxy_set_header    '_protocol'         'https';
    }

    location / {
        proxy_pass          http://hostip:5000;
        proxy_redirect      off;
        proxy_set_header    Host                $host;
        proxy_set_header    X-Real-IP           $remote_addr;
        proxy_set_header    X-Forwarded-For     $proxy_add_x_forwarded_for;
        proxy_set_header    X-Request-Id        $pid-$msec-$remote_addr-$request_length;
        proxy_set_header    X-Forwarded-Proto   $scheme;
        proxy_set_header    '_protocol'         'https';
    }

}
